.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  background: #2F5AA8;
  padding: 58px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}
.aside__logo {
  background: #D9D9D9;
}

.main {
  width: 80%;
  padding-bottom: calc(120px + 120 * ((100vw - 320px) / 1600));
}
.ourServices {
  margin-top: calc(30px + 40 * ((100vw - 320px) / 1600));
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.ourServices__title {
  font-weight: 600;
  color: #538FFC;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.ourServices__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(10px + 20 * ((100vw - 320px) / 1600));
}
.ourServices__item {
  background: #2F5AA8;
  color: #FFF;
  text-align: center;
  padding-top: calc(32px + 32 * ((100vw - 320px) / 1600));
  padding-bottom: calc(32px + 32 * ((100vw - 320px) / 1600));
  border-radius: 3%;
}
.ourServices__item-img {
  text-align: center;
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}
.ourServices__item-img img {
  width: 15%;
}

.possibilities {
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.possibilities__title {
  font-weight: 600;
  color: #538FFC;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.possibilities__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(15px + 15 * ((100vw - 320px) / 1600));
  gap: calc(10px + 20 * ((100vw - 320px) / 1600));
}
.possibilities__item {
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  background: #F8F8F8;
  padding-bottom: calc(45px + 50 * ((100vw - 320px) / 1600));
}
.possibilities__item-img {
  position: relative;
  margin-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
}
.possibilities__item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: #000;
  opacity: 0.4;
}
.possibilities__item-title {
  color: #333333;
  font-weight: 700;
  margin-left: calc(5px + 15 * ((100vw - 320px) / 1600));
}

.news {
  margin-bottom: calc(85px + 90 * ((100vw - 320px) / 1600));
  color: #333;
}
.news__title {
  font-weight: 600;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.news__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(10px + 20 * ((100vw - 320px) / 1600));
}
.news__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news__item-content-date {
  text-align: center;
  color: #888888;
  font-size: calc(5px + 6 * ((100vw - 320px) / 1600));
  margin-left: calc(10px + 35 * ((100vw - 320px) / 1600));
  margin-right: calc(10px + 35 * ((100vw - 320px) / 1600));
}

.documents {
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.documents__title {
  font-weight: 600;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.documents__content {
  background: url("../img/16_1634720735_lg.jpg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  padding-top: calc(160px + 165 * ((100vw - 320px) / 1600));
}
.documents__names {
  background: rgba(83, 143, 252, 0.9);
  color: #FFF;
  padding-top: calc(25px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(25px + 30 * ((100vw - 320px) / 1600));
  font-size: calc(7px + 13 * ((100vw - 320px) / 1600));
}
.documents__names .container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.urls {
  margin-bottom: calc(45px + 50 * ((100vw - 320px) / 1600));
}
.urls__title {
  font-weight: 600;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.urls__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: calc(25px + 25 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.urls__content__description {
  color: #538FFC;
}
.urls__content__description span {
  font-size: 30px;
}

.gallery__title {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(25px + 25 * ((100vw - 320px) / 1600));
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.gallery__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(10px + 20 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.gallery__img {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */