.banner {
  background: #F5F4F4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(26, 26, 26, 0.6)), color-stop(36.3%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/main/image2.png");
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.6) 15%, rgba(0, 0, 0, 0) 36.3%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/main/image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 150%;
  background-attachment: fixed;
  padding-top: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-bottom: calc(120px + 75 * ((100vw - 320px) / 1600));
}
.banner .header {
  color: #FFF;
}
.banner .header__top {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.banner .header__top__form {
  border: none;
}
.banner .header__top-open path {
  fill: #FFF;
}
.banner .header__nav {
  border-bottom: none;
}
.banner .header__nav .container a {
  color: #FFF;
}
.banner h1 {
  margin-top: calc(30px + 40 * ((100vw - 320px) / 1600));
  color: #FFF;
}

.ourServices {
  margin-top: calc(30px + 40 * ((100vw - 320px) / 1600));
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.ourServices__title {
  font-weight: 600;
  color: #538FFC;
  font-size: 20px;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.ourServices__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.ourServices__item {
  background: #2F5AA8;
  color: #FFF;
  text-align: center;
  padding-top: calc(50px + 14 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 14 * ((100vw - 320px) / 1600));
  border-radius: 3%;
}
.ourServices__item-img {
  text-align: center;
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}
.ourServices__item-img img {
  width: 15%;
}

.possibilities {
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.possibilities__title {
  font-weight: 600;
  color: #538FFC;
  font-size: 20px;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.possibilities__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(10px + 20 * ((100vw - 320px) / 1600));
}
.possibilities__item {
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  background: #F8F8F8;
  padding-bottom: calc(20px + 75 * ((100vw - 320px) / 1600));
}
.possibilities__item-img {
  position: relative;
  margin-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
}
.possibilities__item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: #000;
  opacity: 0.4;
}
.possibilities__item-title {
  color: #333333;
  font-weight: 700;
  margin-left: calc(5px + 15 * ((100vw - 320px) / 1600));
}

.news {
  margin-bottom: calc(85px + 90 * ((100vw - 320px) / 1600));
  color: #333;
}
.news__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.news__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.news__item-img img {
  height: calc(100px + 200 * ((100vw - 320px) / 1600));
  -o-object-fit: cover;
     object-fit: cover;
}
.news__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news__item-content-date {
  text-align: center;
  color: #888888;
  font-size: calc(5px + 6 * ((100vw - 320px) / 1600));
  margin-left: calc(10px + 35 * ((100vw - 320px) / 1600));
  margin-right: calc(10px + 35 * ((100vw - 320px) / 1600));
}

.documents {
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.documents__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.documents__content {
  background: url("../img/main/16_1634720735_lg.jpg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  padding-top: calc(160px + 165 * ((100vw - 320px) / 1600));
}
.documents__names {
  background: rgba(83, 143, 252, 0.9);
  color: #FFF;
  padding-top: calc(25px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(25px + 30 * ((100vw - 320px) / 1600));
  font-size: calc(7px + 13 * ((100vw - 320px) / 1600));
}
.documents__names .container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.urls {
  margin-bottom: calc(45px + 50 * ((100vw - 320px) / 1600));
}
.urls__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.urls__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  gap: 30px;
  font-weight: 600;
}
.urls__items__title {
  margin-bottom: 10px;
}
.urls__items__description {
  color: #538FFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  line-height: 14px;
  line-height: calc(10px + 4 * ((100vw - 320px) / 1600));
}
.urls__items__description img {
  width: 10px;
  height: 10px;
}

.gallery__title {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(25px + 25 * ((100vw - 320px) / 1600));
  font-size: 20px;
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1600));
}
.gallery__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 600;
  -webkit-column-gap: calc(10px + 20 * ((100vw - 320px) / 1600));
     -moz-column-gap: calc(10px + 20 * ((100vw - 320px) / 1600));
          column-gap: calc(10px + 20 * ((100vw - 320px) / 1600));
  row-gap: calc(50px + 30 * ((100vw - 320px) / 1600));
}
.gallery__img {
  margin-bottom: 10px;
}
.gallery__img img {
  height: calc(50px + 200 * ((100vw - 320px) / 1600));
}

@media (max-width: 768px) {
  .banner {
    background-position: 50% 50%;
    padding-top: 0;
  }
  .banner h1 {
    margin-top: 50px;
  }
  .news__item-img img {
    height: calc(200px + 50 * ((100vw - 320px) / 1600));
  }
  .ourServices__items,
  .news__items,
  .urls__items {
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  }
}
@media (max-width: 600px) {
  .gallery__img img {
    height: auto;
  }
  .possibilities__items,
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  }
}/*# sourceMappingURL=main.css.map */