@import 'mixin.scss';

.contacts {
    @include adaptive-value('margin-top', 50, 20, 3);

    h3 {
        font-weight: 700;
    }

    &__title {
        font-weight: 600;
        @include adaptive-value('margin-bottom', 30, 15, 3);
    }

    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        @include adaptive-value('column-gap', 30, 0, 3);
        @include adaptive-value('row-gap', 60, 30, 2);
    }

    &__form {
        width: 90%;
    }

    &__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptive-value('margin-top', 30, 10, 3);
        @include adaptive-value('column-gap', 50, 10, 3);
    }

    &__text {
        textarea {
            width: 100%;
            border: none;
            background: none;
            outline: none;
            border-bottom: 1px solid #000;
            @include adaptive-value('font-size', 26, 12, 3);
            @include adaptive-value('padding', 15, 7, 3);
        }

        textarea:active {
            color: red;
        }
    }

    &__policy {

        @include adaptive-value('padding-top', 10, 5, 3);
    }

    .btn {
        margin-left: 0;
        margin-top: 10px;
    }

    &__address {
        >div {
            @include adaptive-value('margin-bottom', 30, 10, 3);
        }
    }
}


@media (max-width:768px) {
    .contacts {
        &__content {
            grid-template-columns: 1fr;
        }

        &__inputs {
            grid-template-columns: 1fr;
        }
    }
}