@import 'mixin.scss';

.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.aside {
    background: $color1;
    padding: 58px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {}

    &__logo {
        background: #D9D9D9;
    }
}

.main {
    padding-bottom: 250px;
}

.ourServices {
    margin-top: 70px;
    margin-bottom: 80px;
    font-weight: 600;

    &__title {
        color: #538FFC;
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include adaptive-value('gap', 30, 10, 3);
    }

    &__item {
        background: $color1;
        color: #FFF;
        text-align: center;
        padding: 64px 0;
        border-radius: 3%;

        &-img {
            width: 15%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}

.possibilities {
    margin-bottom: 80px;
    font-weight: 600;

    &__title {
        color: #538FFC;
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    &__item {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        background: #F8F8F8;
        padding-bottom: 95px;

        &-img {
            position: relative;
            margin-bottom: 15px;
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 98%;

            background: #000;
            opacity: 0.4;
        }

        &-title {
            color: #333333;
            font-weight: 700;
            margin-left: 20px;
        }
    }
}

.news {
    margin-bottom: 175px;
    color: #333;

    &__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include adaptive-value('gap', 30, 10, 3);
    }

    &__item {
        &-content {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 20px;

            &-date {
                text-align: center;
                color: #888888;
                @include adaptive-value('font-size', 11, 5, 3);
                @include adaptive-value('margin-left', 45, 10, 3);
                @include adaptive-value('margin-right', 45, 10, 3);
            }
        }
    }
}

.documents {
    &__title {
        font-size: 20px;
        margin-bottom: 50px;
    }

    &__content {
        background: url('../img/16_1634720735_lg.jpg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 100%;
        padding-top: 325px;
    }

    &__names {
        background: rgba(83, 143, 252, 0.9);
        color: #FFF;
        padding: 55px 0;
        @include adaptive-value('font-size', 20, 10, 3);

        .container {
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
}