@import 'mixin.scss';


.banner {
    background: #F5F4F4;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.6) 15%, rgba(0, 0, 0, 0) 36.3%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 150%;
    background-attachment: fixed;
    @include adaptive-value('padding-top', 20, 10, 3);
    @include adaptive-value('padding-bottom', 195, 120, 3);

    .header {
        color: #FFF;

        &__top {
            box-shadow: none;

            &__form {
                border: none;
            }

            &-open {
                path {
                    fill: #FFF;
                }
            }
        }

        &__nav {
            border-bottom: none;

            & .container {
                a {
                    color: #FFF;
                }
            }
        }
    }

    h1 {
        @include adaptive-value('margin-top', 70, 30, 3);
        color: #FFF;
    }
}

.ourServices {
    @include adaptive-value('margin-top', 70, 30, 3);
    @include adaptive-value('margin-bottom', 80, 40, 3);
    font-weight: 600;

    &__title {
        font-weight: 600;
        color: #538FFC;
        font-size: 20px;
        @include adaptive-value('margin-bottom', 30, 15, 3);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    &__item {
        background: $color1;
        color: #FFF;
        text-align: center;
        @include adaptive-value('padding-top', 64, 50, 3);
        @include adaptive-value('padding-bottom', 64, 50, 3);
        border-radius: 3%;

        &-img {
            text-align: center;

            img {
                width: 15%;
            }

            @include adaptive-value('margin-bottom', 20, 10, 3);
        }
    }
}

.possibilities {
    @include adaptive-value('margin-bottom', 80, 40, 3);
    font-weight: 600;

    &__title {
        font-weight: 600;
        color: #538FFC;
        font-size: 20px;
        @include adaptive-value('margin-bottom', 30, 15, 3);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include adaptive-value('gap', 30, 10, 3);
    }

    &__item {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        background: #F8F8F8;
        @include adaptive-value('padding-bottom', 95, 20, 3);

        &-img {
            position: relative;
            @include adaptive-value('margin-bottom', 15, 5, 3);
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 98%;

            background: #000;
            opacity: 0.4;
        }

        &-title {
            color: #333333;
            font-weight: 700;
            @include adaptive-value('margin-left', 20, 5, 3);


        }
    }
}

.news {
    @include adaptive-value('margin-bottom', 175, 85, 3);
    color: #333;

    &__title {
        font-weight: 600;
        font-size: 20px;
        @include adaptive-value('margin-bottom', 30, 15, 3);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    &__item {
        &-content {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 20px;

            &-date {
                text-align: center;
                color: #888888;
                @include adaptive-value('font-size', 11, 5, 3);
                @include adaptive-value('margin-left', 45, 10, 3);
                @include adaptive-value('margin-right', 45, 10, 3);
            }
        }
    }
}

.documents {
    @include adaptive-value('margin-bottom', 50, 25, 3);

    &__title {
        font-weight: 600;
        font-size: 20px;
        @include adaptive-value('margin-bottom', 50, 25, 3);
    }

    &__content {
        background: url('../img/16_1634720735_lg.jpg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 100%;
        @include adaptive-value('padding-top', 325, 160, 3);
    }

    &__names {
        background: rgba(83, 143, 252, 0.9);
        color: #FFF;
        @include adaptive-value('padding-top', 55, 25, 3);
        @include adaptive-value('padding-bottom', 55, 25, 3);
        @include adaptive-value('font-size', 20, 7, 3);

        .container {
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
}

.urls {
    @include adaptive-value('margin-bottom', 95, 45, 3);

    &__title {
        font-weight: 600;
        font-size: 20px;
        @include adaptive-value('margin-bottom', 50, 25, 3);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        column-gap: 5px;
        gap: 30px;
        font-weight: 600;

        &__title {
            margin-bottom: 10px;
        }

        &__description {
            color: #538FFC;
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            line-height: 14px;
            @include adaptive-value('line-height', 14, 10, 3);

            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.gallery {
    &__title {
        font-weight: 600;
        display: flex;
        @include adaptive-value('gap', 50, 25, 3);
        font-size: 20px;
        @include adaptive-value('margin-bottom', 50, 25, 3);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-weight: 600;
        @include adaptive-value('column-gap', 30, 10, 3);
        @include adaptive-value('row-gap', 80, 50, 3);
    }

    &__img {
        margin-bottom: 10px;
    }
}



@media (max-width:768px) {
    .banner {
        background-position: 50% 50%;
        padding-top: 0;


        h1 {
            margin-top: 50px;
        }
    }

    .ourServices,
    .news,
    .urls {
        &__items {
            grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
        }
    }


}

@media (max-width:600px) {

    .possibilities,
    .gallery {
        &__items {
            grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
        }
    }
}