@import 'mixin.scss';

.siteMap {
    @include adaptive-value('margin-top', 50, 20, 3);

    &__title {
        font-weight: 600;
    }

    &__text {
        @include adaptive-value('margin-top', 30, 10, 3);
        @include adaptive-value('font-size', 20, 14, 3);
    }

    &__ul {
        padding-left: 0;

        li {
            margin-left: 1%;
        }

        li ul {
            list-style-type: decimal;
            margin-left: 1%;
        }
    }

    &__name {
        @include adaptive-value('margin-top', 30, 15, 3);

        a {
            color: $color1;
        }
    }
}