@import './../fonts/segoeUI/stylesheet.css';
@import './mixin.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    font-weight: 400;
    @include adaptive-value('font-size', 16, 12, 3);
}

span {
    color: #538FFC;
}

h1,
h2,
h3 {
    font-family: 'Segoe UI';
    font-weight: 600;
}

h1 {
    @include adaptive-value('font-size', 50, 20, 3);
}

h2 {
    @include adaptive-value('font-size', 38, 15, 3);
}

h3 {
    @include adaptive-value('font-size', 24, 16, 3);
}

img {
    width: 100%;
}

a {
    color: #FFF;
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    width: 100%;
    @include adaptive-value('font-size', 20, 7, 3);
    @include adaptive-value('padding', 15, 7, 3);
}

.input {
    border-bottom: 1px solid #000;
}

.btn {
    display: block;
    margin: 0 auto;
    border: 2px solid $color1;
    border-radius: 5px;
    color: #000;
    background-color: transparent;
    font-weight: 600;
    width: 20%;
    cursor: pointer;
    @include adaptive-value('padding', 10, 5, 3);
    @include adaptive-value('font-size', 18, 10, 3);
    @include adaptive-value('width', 267, 100, 3);

    &:hover {
        background: $color1;
        color: #FFF;
    }
}

.container {
    @include adaptive-value('margin-left', 80, 10, 3);
    @include adaptive-value('margin-right', 80, 10, 3);
}



.content {
    display: flex;
}

.aside {
    min-height: 100vh;
    background: $color1;
    padding: 58px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;

    &__logo {
        background: #D9D9D9;
    }

    &__content {
        padding-top: 15px;
        color: #FFF;
        display: grid;
        row-gap: 20px;
        @include adaptive-value('font-size', 16, 5, 3);
        @include adaptive-value('padding-left', 40, 10, 3);
        @include adaptive-value('padding-right', 40, 10, 3);

        &-link {
            margin-left: 10%;
        }

        &-btn {
            display: flex;
            align-items: flex-start;
            cursor: pointer;

            img {
                @include adaptive-value('width', 15, 5, 3);
            }
        }
    }

    &__footer {
        @include adaptive-value('margin-top', 100, 50, 3);

        &-link {
            border-top: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            display: flex;
            gap: 20px;
            @include adaptive-value('margin-bottom', 25, 10, 3);
            @include adaptive-value('padding-top', 25, 10, 3);
            @include adaptive-value('padding-bottom', 25, 10, 3);
            @include adaptive-value('padding-left', 40, 10, 3);
            @include adaptive-value('padding-right', 40, 10, 3);
        }

        &-copyright {
            color: #FFF;
            @include adaptive-value('font-size', 11, 6, 3);
            @include adaptive-value('padding-left', 40, 10, 3);
            @include adaptive-value('padding-right', 40, 10, 3);
        }
    }

}

.main {
    width: 80%;
    @include adaptive-value('padding-bottom', 240, 120, 3);
}


.header {
    color: $color1;

    &__top {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
        @include adaptive-value('padding-top', 20, 10, 3);
        @include adaptive-value('padding-bottom', 20, 5, 3);

        &-lang {
            display: flex;
            justify-content: flex-end;
            @include adaptive-value('gap', 30, 10, 3);
        }

        &-path {
            span {
                color: #000;
            }
        }

        &-kg {
            text-decoration: underline;
        }

        .container {
            display: flex;
            justify-content: space-between;

            svg path {
                fill: $color1;
            }

            div {
                cursor: pointer;
            }
        }
    }


    &__nav {
        width: 100%;
        border-bottom: 1px solid rgba(190, 190, 190, 0.6);
        @include adaptive-value('padding-top', 30, 10, 3);
        @include adaptive-value('padding-bottom', 30, 10, 3);

        .container {
            display: flex;
            justify-content: space-between;
            gap: 10px;


            a {
                @include adaptive-value('font-size', 20, 12, 3);
                font-family: 'Segoe UI';
                font-weight: 600;
                display: block;
                color: $color1;
            }

            a:hover {
                text-decoration: underline;
            }

            .active {
                text-decoration: underline;
                pointer-events: none;
            }
        }
    }

    h1 {
        color: #FFF;
    }

    &__burger {
        display: none;
        background: #FFF;
        color: #000;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value('padding', 30, 18, 3);

        &-logo {
            width: 39%;
        }

        &-icon {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            width: 30px;
            height: 30px;
            display: grid;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: transform 0.3s ease;
        }

        .line1 {
            transform-origin: top left;
        }

        .line3 {
            transform-origin: bottom left;
        }

    }

    &.active {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        background: $color1;
        top: 0;
        left: 0;
        z-index: 99;

        .header {
            &__burger {
                background: #D9D9D9;

                &-icon {
                    .line1 {
                        transform: translateY(0px) rotate(45deg);
                    }

                    .line2 {
                        opacity: 0;
                    }

                    .line3 {
                        transform: translateY(0px) rotate(-45deg);
                    }
                }
            }

            &__nav {
                display: block;

                .container {
                    text-align: center;
                    display: block;

                    a {
                        font-size: 20px;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}



@media (max-width:768px) {
    .header {
        &__burger {
            display: flex;
        }

        &__top {
            padding: 0;

            &-lang {
                display: none;
            }
        }

        &__nav {
            display: none;
        }
    }

    .aside {
        display: none;
    }

    .main {
        width: 100%;
    }

}


@media (max-width:600px) {
    .aside {
        &__footer {
            &-link {
                display: block;
            }
        }
    }
}