@import './../fonts/segoeUI/stylesheet.css';
@import './mixin.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    font-weight: 400;
    @include adaptive-value('font-size', 16, 6, 3);
}

span {
    color: #538FFC;
}

h1,
h2,
h3 {
    font-family: 'Segoe UI';
    font-weight: 600;
}

h1 {
    @include adaptive-value('font-size', 50, 25, 3);
}

h2 {
    @include adaptive-value('font-size', 28, 8, 3);
}

h3 {
    @include adaptive-value('font-size', 24, 7, 3);
}

img {
    width: 100%;
}

a {
    color: #FFF;
    text-decoration: none;
}

.container {
    @include adaptive-value('margin-left', 80, 10, 3);
    @include adaptive-value('margin-right', 80, 10, 3);
}

.header {
    background: #F5F4F4;
    @include adaptive-value('padding-top', 20, 10, 3);
    @include adaptive-value('padding-bottom', 195, 90, 3);
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.6) 15%, rgba(0, 0, 0, 0) 36.3%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;

    &__search {
        display: flex;
        justify-content: flex-end;
        @include adaptive-value('gap', 30, 10, 3);
        @include adaptive-value('margin-bottom', 55, 25, 3);
        color: #FFF;

        div {
            cursor: pointer;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        @include adaptive-value('margin-bottom', 100, 50, 3);

        a {
            @include adaptive-value('font-size', 24, 12, 3);
            font-family: 'Segoe UI';
            font-weight: 600;
            display: block;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    }

    h1 {
        color: #FFF;
    }
}



@media (max-width:768px) {
    .header {
        &__nav {
            display: block;
            gap: 20px;
        }
    }
}