@import 'mixin.scss';

.vacancyDetails {
    @include adaptive-value('margin-top', 50, 20, 3);

    &__title {
        font-weight: 700;
    }

    &__name {
        font-weight: 700;
        @include adaptive-value ('margin-top', 30, 10, 3);
    }

    &__text {
        span {
            li {
                list-style-type: none;
                margin-left: 3%;
            }
        }

    }
}