@import 'mixin.scss';

.verification {
    @include adaptive-value('margin-top', 50, 20, 3);

    &__title {
        font-weight: 600;
        @include adaptive-value('margin-bottom', 30, 15, 3);
    }

    &__form {
        margin: 0 auto;
        width: 50%;

        h3 {
            text-align: center;
            @include adaptive-value('margin-bottom', 50, 10, 3);
        }
    }

    &__policy {
        display: block;
        color: $color1;
        @include adaptive-value('margin-top', 30, 10, 3);
        @include adaptive-value('margin-bottom', 50, 20, 3);
    }
}


@media (max-width:768px) {
    .verification {
        &__form {
            width: 80%;
        }
    }
}